.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  overflow: hidden;
  background-color: #ffffff;
}
.cols {
  width: 80%;
}
.topline {
  position: relative;
  left: 120px;
  display: block;
  position: relative;
  font-size: 50px;
  color: #551b4c;
}

.topline::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: #595959;
}
.text1 {
  position: relative;
  left: 120px;
  display: block;
  font-size: 2.1em;
  font-weight: 900;
  color: #595959;
}
.multiText {
  color: #551b4c;
  text-transform: capitalize;
}
p {
  display: block;
  width: 90%;
  font-size: 2em;
  color: #551b4c;
}
.btns {
  width: 60%;
  position: relative;
}
button {
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  color: #551b4c;
  background-color: #e6bfcc;
  padding: 8px 6px;
  margin: 40px 5px;
  text-transform: capitalize;
  transition: all 0.5s ease;
}
button:hover {
  background-color: #b5599f;
}
.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
}
.imgbox img {
  position: relative;
  height: 100%;
  width: 450px;
  top: 30px;
  right: 50px;
  transform: rotateY("180deg");
  animation: animateUser 4s linear infinite;
}
@keyframes animateUser {
  50% {
    right: 30px;
    top: -40px;
  }
}
.btts {
  font-size: 20px;
}
@media only screen and (max-width: 780px) {
  .imgbox {
    display: none;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  body,
  html {
    overflow-x: hidden;
  }
  .wrapper {
    display: flex;
    width: 140%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 40% 0%;
    right: 75px;
    position: relative;
  }
}
